<div class="main">
    <div class="sub">
        <h1>Car History</h1>
        <form action="/api/carlist" name="regform" method="POST" id="form">
            <input type="text" name="carNumber" placeholder="차량번호">
            <input type="text" name="owner" placeholder="소유주">
            <input type="text" name="model" placeholder="차량모델">
            <input type="text" name="company" placeholder="제조사">
            <input type="text" name="numOfAccident" placeholder="사고 수">
            <input type="text" name="numOfOwnerChange" placeholder="소유주 변경 수">
            <button type="button" id="submit">제출</button>
        </form>
    </div>
</div>


<table class="table table-striped" id="cartable">
    <thead>
        <tr>
            <th class="th-sm">No</th>
            <th>CarNumber</th>
            <th>Owner</th>
            <th>Model</th>
            <th>Company</th>
            <th>NumOfAccident</th>
            <th>NumOfOwnerChange</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody id="list">
        <% for( let i=0; i<carlist.length; i++) {%>
        <tr>
            <td><%= i + 1 %></td>
            <td><%= carlist[i].carNumber %></td>
            <td><%= carlist[i].owner %></td>
            <td><%= carlist[i].model %></td>
            <td><%= carlist[i].company %></td>
            <td><%= carlist[i].numOfAccident %></td>
            <td><%= carlist[i].numOfOwnerChange %></td>
            <td><span id="delCar">x</span></td>
        </tr>
        <% } %>
    </tbody>
</table>

<script>
    $('#delCar').parent().parent().hide()

    $('#submit').click(function () {

        let newData = serializeObject($('form[name=regform]'));
        //alert( $('form[name=regform]').serializeArray());
        //serializeObject($('form[name=regform]'));
        $.ajax({
            type: 'POST',
            url: '/api/regcar',
            dataType: 'json',
            data: newData,
            success: function (data) {
                console.log('success');
                // 아이디 list에서 태그네임 tr의 개수를 trNum 변수에 저장한다.
                // javascript get childnodes by tagname
                var trNum = document.getElementById('list').getElementsByTagName('tr').length;
                // console.log(trNum);

                $.each(data, function (i, item) {
                    $('#list').append(`
                    <tr>
                        <td>${trNum + 1}</td>
                        <td>${item.carNumber}</td>
                        <td>${item.owner}</td>
                        <td>${item.model}</td>
                        <td>${item.company}</td>
                        <td>${item.numOfAccident}</td>
                        <td>${item.numOfOwnerChange}</td>
                        <td><span id="delCar">x</span></td>
                    </tr>
                    `)
                })
                console.log(data);
            },
            error: function (err) {
                console.log('err');
            }
        });

        // id="form" 값에서 input을 찾아 value를 공백으로 처리한다
        $('#form').find('input').val('')
    })
</script>